SELECT 
[Event Number],
[Status],
[Description],
[Rationale],
[Circumstance],
[Third Party Consultation],
[References To Company Manuals],
[Integrity Dig],
[Dig Count],
[Activity Type],
[Activity Type Other],
[Occurrence Date],
[Completion Date],
[Pipeline Name],
[Facility Name],
[Province],
[Shore Option],
[Nearest Populated Centre],
[Location Description],
[Company Name],
[Address],
[City],
[Postal Code],
[Acts and Regulations],
[Ground Disturbance Near Water Required],
[Vehicle Crossing Count],
[Fish Present],
[In Stream Work Required],
[Following DFO Fish Measures],
[Species At Risk Present],
[Water Frozen Or Dry],
[Meeting Transport Canada Minor Work and Water Order],
[Using Navigable Waters]
FROM [Regulatory_Untrusted].[_OpsIntelligence].[vwOpenGovOandMActivities]