node_modules
dist/
dist_azure/
**/__pycache__
src/data_management/connection_strings.json
src/data_management/raw_data/*
!src/data_management/raw_data/conditions_en.csv
!src/data_management/raw_data/conditions_fr.csv
!src/data_management/raw_data/incidents_en.csv
!src/data_management/raw_data/incidents_fr.csv
!src/data_management/raw_data/oandm_en.csv
!src/data_management/raw_data/oandm_fr.csv
!src/data_management/raw_data/throughput_gas_monthly.csv
!src/data_management/raw_data/throughput_oil_monthly.csv
!src/data_management/raw_data/key_points.csv
!src/data_management/raw_data/apportionment.csv
!src/data_management/raw_data/remediation.csv
!src/data_management/raw_data/projects_regdocs.csv
!src/data_management/raw_data/conditionProjects.csv
!src/data_management/raw_data/conditionRegions.csv
!src/data_management/raw_data/conditionThemes.csv
!src/data_management/raw_data/remediationContaminants.csv
!src/data_management/raw_data/systemId.csv
!src/data_management/raw_data/tolls.csv
!src/data_management/raw_data/tolls_description.csv
!src/data_management/raw_data/remediation_pre_2018.csv
!src/data_management/raw_data/tolls_numbers.csv
!src/data_management/raw_data/test_data
deploy/*
!deploy/*.py
!deploy/*.sh
!deploy/*.json
*.csv#
AZURE_STORAGE_CONNECTION_STRING.json