node_modules
src/data_management/raw_data/*
!src/data_management/raw_data/conditions_en.csv
!src/data_management/raw_data/conditions_fr.csv
!src/data_management/raw_data/incidents_en.csv
!src/data_management/raw_data/incidents_fr.csv
!src/data_management/raw_data/oandm_en.csv
!src/data_management/raw_data/oandm_fr.csv
!src/data_management/raw_data/throughput_gas_monthly.csv
!src/data_management/raw_data/throughput_oil_monthly.csv
!src/data_management/raw_data/apportionment.csv
!src/data_management/raw_data/remediation.csv
!src/data_management/raw_data/projects_regdocs.csv
!src/data_management/raw_data/conditionProjects.csv
!src/data_management/raw_data/conditionRegions.csv
!src/data_management/raw_data/conditionThemes.csv
**/__pycache__
*.twb
*.twbx
*.twbr
*.geojson
connection.py
**.LICENSE.txt
src/wtfiles
dist/
todo.txt
*.csv#
