.form-control {
  min-width: 250px;
  max-width: 250px;
}
.header {
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
}
.figure-title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  color: dimgray;
}
.cersummary {
  font-family: Arial;
  font-size: 17px;
  font-style: italic;
  color: dimgray;
}
.cersummarymeasure {
  font-family: Arial;
  font-size: 17px;
  color: black;
  font-weight: bold;
}
.chart-large {
  max-width: 1000px;
  /* height: 400px; */
  margin: auto;
}
.container-chart-large {
  min-height: 400px;
}
.container-chart-map {
  min-height: 400px;
  position: relative;
  z-index: 10;
}
.tooltip-settlements span {
  background-color: white;
  opacity: 1;
  z-index: 9999 !important;
}
