.conditions-container {
  border: 4px solid grey;
}
/* This is useful for looking at the grid structure */
/* .row {
  border: 3px solid red;
}
.col-md-3 {
  border: 3px solid blue;
} */

.conditions-container-hc {
  height: 700px;
}

.form-control {
  min-width: 250px;
  max-width: 250px;
}

.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.conditions-title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  color: dimgray;
  /* text-align: center; */
}

.cersummary {
  font-family: Arial;
  font-size:17px;
  font-style: italic;
  color: dimgray;
}

.cersummarymeasure {
  font-family: Arial;
  font-size:17px;
  color: black;
  font-weight: bold;
}
