<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="time-series" id="{{text.id}}-time-series"></div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 event-navigator">
        {{#each text.chartPillIds}}
            <div class="event-filter-nav" id="{{this}}"></div>
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info disclaimer-style" id="trend-definitions-{{text.id}}"></div>
    </div>
</div>