/* #select_product {
    position: center;
    font-family: Arial;
    width: 15%;
  }

#select_units {
    position: center;
    font-family: Arial;
    width: 15%;
  }

#select_region {
    position: center;
    font-family: Arial;
    width: 15%;
  } */


  .cerlabel {
    position: center;
    font-family: Arial;
    font-weight: bold;
    color:#871455
  } 


  .padding-0{
    padding-right:0;
    padding-left:0;
}