<div id="operations-maintenance" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.buttons.oandm}}</h3>
      <p class="small">{{text.safety.updated.oandm}}</p>
      <p>
        Oil and gas pipeline companies regularly conduct routine operations and
        maintenance activities (O&#38;M activities) on CER regulated pipelines.
        These activities include things such as pipeline repairs, investigative
        &#38; integrity digs, and many other activities while promoting safety,
        security, environmental protection, economic efficiency, and respect for
        the rights of those that may be affected.
      </p>
      <p>
        Under the
        <i>Canadian Energy Regulator Onshore Pipeline Regulations Act</i>,
        companies are required to develop, regularly review and update as
        required, operation and maintenance manuals that provide information and
        procedures to promote safety, environmental protection, and efficiency
        in the operation of the pipeline. As orders typically include
        authorization to construct and operate a facility, companies are not
        required to apply for additional approval to undertake most O&#38;M
        activities. However, companies are required to provide the CER with
        sufficient information to make a determination as to whether to inspect
        O&#38;M activities that could result in safety consequences to
        landowners or the public, environmental consequences, or a negative
        impact on normal third-party use of the right-of-way (RoW) or adjacent
        property.
      </p>
      <details>
        <summary>
          What activities are O&#38;M activities (eligible activities)?
        </summary>
        <p>Operations and maintenance activities include:</p>
        <ol type="1">
          <li>
            all activities necessary to safely operate an existing pipeline;
          </li>
          <li>
            maintenance activities, upgrades or repairs to an existing pipeline
            or part of a pipeline that do not increase the approved maximum
            operating pressure (MOP), the stress level or diameter of the
            pipeline; or
          </li>
          <li>
            physically removing an existing section of pipe up to 5 km in
            length, and putting a new section of pipe in its place, as long as
            this replacement does not increase the approved MOP, stress level or
            diameter of the pipeline.
          </li>
        </ol>
      </details>
      <details>
        <summary>What O&#38;M Activities require CER approval (restrictions on
          eligible activities)?</summary>
        <p>
          Where any of the following restrictions exist, the company must apply
          to the Commission in accordance with the CER Act and the related
          Regulations and may not carry out the proposed activity until approval
          from the Commission has been obtained. The restrictions apply where:
        </p>
        <ol type="1">
          <li>
            the work includes welding on an in-service pipeline by a pipeline
            company that has not previously performed in-service welding in
            accordance with the requirements of CSA Z662-15, Clause 7.17,
            ‘Welding on In-Service Piping’, or the equivalent clause in the most
            recent edition of CSA Z662; or
          </li>
          <li>
            the work involves the construction of an aerial crossing, excluding
            work on company owned or leased land relating to facilities (e.g.,
            terminal stations, processing plants, compressor/pump stations).
          </li>
        </ol>
      </details>
      <details>
        <summary>What kinds of activities are not O&#38;M activities (ineligible
          activities)?</summary>
        <p>O&#38;M activities do not include:</p>
        <ol type="1">
          <li>
            upgrades that result in increases above previously approved and
            specified levels to:
            <ol type="a">
              <li>the MOP,</li>
              <li>stress levels,</li>
              <li>the diameter of the pipeline, and/or</li>
              <li>airborne emissions or noise levels.</li>
            </ol>
          </li>
          <li>
            "looping" (i.e., adding pipe parallel or adjacent to, and
            interconnected with, an existing pipeline for the general purpose of
            increasing capacity);
          </li>
          <li>construction of a new pipeline; or</li>
          <li>
            deactivation (for longer than 12 months), reactivation (where a
            pipeline has been deactivated for more than 12 months),
            decommissioning, or abandonment.
          </li>
        </ol>
      </details>
      <div id="oandm-dashboard">
        <div
          class="alert alert-warning mrgn-tp-md disclaimer-style"
          id="oandm-reported-disclaimer"
        >
          <small>The dashboard and figures presented below only include O&#38;M
            activities from 2015 onwards that require notification to the CER.
            Consult the
            <a
              href="https://www.cer-rec.gc.ca/en/about/acts-regulations/cer-act-regulations-guidance-notes-related-documents/onshore-pipeline/operations-maintenance-activities-pipelines-under-national-energy-board-act-requirements-guidance-notes-2.html"
              target="_blank"
            >O&#38;M Requirements and Guidance Notes</a>
            for a list of O&#38;M event activities that call for notification to be
            filed with the CER.
          </small>
        </div>
        <div id="oandm-dynamic-text"></div>
        <div class="plains_disclaimer"></div>
        <h3 class="dashboard-title" id="oandm-dashboard-title"></h3>
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="time-series" id="time-series-oandm"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 event-navigator">
            <div class="event-filter-nav" id="oandm-region-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-dig-trend"></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-instream-trend"
            ></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-fish-trend"
            ></div>

            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-species-trend"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="alert alert-info disclaimer-style"
              id="trend-definitions-oandm"
            ></div>
            {{> shared/source text=text.safety.sources.oandm}}
            <p>Take a look at the
              <a
                href="https://www.cer-rec.gc.ca/en/about/acts-regulations/cer-act-regulations-guidance-notes-related-documents/onshore-pipeline/operations-maintenance-activities-pipelines-under-national-energy-board-act-requirements-guidance-notes-2.html"
                target="_blank"
              >requirements and guidance notes</a>
              (O&#38;M Guidelines) for more information on how these events are
              regulated while promoting safety, security, environmental
              protection, economic efficiency, and respect for the rights of
              those that may be affected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>