<h2 id="safety-environment">{{text.safety.header}}</h2>
<div
  class="btn-group btn-group-justified mrgn-tp-lg section-nav"
  id="safety-env-navigation"
>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'condition-compliance')"
      id="defaultClick"
    >
      {{text.safety.buttons.conditions}}
    </button>
  </div>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'pipeline-incidents')"
    >
      {{text.safety.buttons.incidents}}
    </button>
  </div>
</div>

{{> conditions text=text}}
{{> incidents text=text}}