<h2 id="tcpl-revenues">
  Pricing discretion for firm and interruptible transportation
</h2>
<p class="small">Section updated February 2022</p>
<div id="tcpl-revenues-dashboard">
  <div class="row mrgn-bttm-lg">
    <div class="col-md-12">
      <div
        class="btn-group btn-group-justified section-nav mrgn-bttm-md"
        id="tcpl-revenues-split-btn"
      >
        <div class="btn-group">
          <button
            type="button"
            value="IT"
            class="btn btn-default active"
          >
            Interruptible Transportation (IT)
          </button>
        </div>
        <div class="btn-group">
          <button
            type="button"
            value="STFT"
            class="btn btn-default"
          >
            Short Term Firm Transportation (STFT)
          </button>
        </div>
      </div>
      <div id="tcpl-revenues-chart"></div>
    </div>
  </div>
</div>
