<h2 id="tolls">{{text.tolls.header}}</h2>
<p class="small">{{text.tolls.updated}}</p>
<div id="tolls-section">
  {{#if text.tollDescription}}
  <div class="row">
    <div class="col-md-12">
      <section class="panel panel-info">
        <header class="panel-heading">
          <h5 class="panel-title">{{text.tolls.descriptionHeader}}</h5>
        </header>
        <div class="panel-body">
          <div id="toll-description">
            {{text.tollDescription}}
          </div>
          <div id="split-description"></div>
        </div>
      </section>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified mrgn-bttm-md" id="tolls-split-btn">
      </div>
    </div>
  </div>
  <div class="row dashboard-style">
    <div class="col-md-12 mrgn-bttm-sm" id="tolls-filters">
      <div id="tolls-filter-container">
        <div id="tolls-path-btn"></div>
        <div class="radio" id="tolls-product-btn"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="tolls-chart"></div>
      <div class="dashboard-style" id="path-discliamer"></div>
    </div>
  </div>
</div>
