<h2 id="tolls">Tolls</h2>
<p class="small">Section updated September 2021</p>
<div id="tolls-section">
  <div class="row dashboard-style">
    <div class="col-md-12">
        <div class="btn-group mrgn-bttm-md" id="tolls-path-btn"></div>
        <div id="tolls-chart"></div>
    </div>
   </div>
</div>