<h2 id="tolls">Tolls</h2>
<p class="small">Section updated September 2021</p>
<div id="tolls-section">
  <div class="row dashboard-style">
    <div class="col-md-12" id="tolls-filters">
      <div>
        <div class="btn-group mrgn-bttm-sm" id="tolls-path-btn"></div>
      </div>
      <section class="panel panel-info" id="tolls-info">
        <header class="panel-heading">
          <h5 class="panel-title">System Tolls Description</h5>
        </header>
        <div class="panel-body">
          <p>2-3 sentence description of the toll methodology.</p>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified" id="tolls-split-btn">
        {{!-- <div class="btn-group">
          <button type="button" class="btn btn-default">Button 1</button>
        </div> --}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="tolls-chart"></div>
    </div>
  </div>
</div>
