<div class="row">
  <div class="col-md-12">
    <h3>{{text.safety.buttons.ua}}</h3>
    <p class="small">{{text.safety.updated.ua}}</p>
    {{> shared/safetyEnvText text=text.safety.ua}}
  </div>
</div>
<div id="unauthorized-activities" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <div id="ua-dynamic-text"></div>
    </div>
  </div>
  {{> shared/eventDashboard text=text.safety.ua.dashboard}}
</div>