<div id="unauthorized-activities" class="profile-section tabcontent profile-hide">
    <div class="row">
        <div class="col-md-12">
            <h3>{{text.safety.buttons.ua}}</h3>
            <p class="small">{{text.safety.updated.ua}}</p>
        </div>
    </div>
    {{> shared/eventDashboard text=text.safety.ua.dashboard}}
</div>