<div id="unauthorized-activities" class="profile-section tabcontent profile-hide">
    <div class="row">
        <div class="col-md-12">
            <h3>Unauthorized Activities</h3>
        </div>
    </div>
</div>