<div id="apportionment-section">
  <div class="row">
    <div class="col-md-12">
      <h2>Apportionment</h2>
      <p class="small">
        Section updated quarterly (early March, mid-May, mid-August and
        mid-November)
      </p>
      <p>
        A shipper must submit nominations each month to it wishes to move its
        oil on a pipeline. Shippers must submit nominations for both committed
        (or contracted) transportation service, if available, as well as
        uncommitted transportation service. If the total volume of nominations
        for uncommitted capacity is more than what is available, the pipeline
        company must “apportion” the nominations.
      </p>
      <p>
        Apportionment is the percentage by which each shipper’s nominated volume
        is reduced in order to match the pipeline’s uncommitted capacity.
        Generally, apportionment is applied equally across all shippers seeking
        to use that capacity: for example, if shipper&nbsp;A nominates
        100&nbsp;barrels and shipper&nbsp;B nominates 1&nbsp;000&nbsp;barrels,
        then, under 10% apportionment, shipper&nbsp;A will be able to ship
        90&nbsp;barrels, and shipper&nbsp;B will ship 900&nbsp;barrels.
      </p>
      <p>
        The interactive graph below shows data for nominations and apportionment
        on the pipeline system.
      </p>
      <p
        class="cerlabel mrgn-tp-lg"
        id="select-units-title"
        style="margin-bottom: 0px"
      >
        Select units:
      </p>
      <div id="select-units-radio-apportion"></div>
      <div class="mrgn-tp-sm" id="apportion-hc"></div>
      <p class="mrgn-tp-md">
        Open data can be freely used and shared by anyone for any purpose. The
        <a
          href="https://open.canada.ca/data/en/dataset/e00172b8-35c2-4651-a8c5-13ab30bd7236"
          rel="external"
        >
          data for these graphs are available</a
        >.
      </p>
    </div>
  </div>
</div>
