<div id="traffic-section">
  <h2 id="throughput">{{text.traffic.header}}</h2>
  {{#ifeq text.pipelineName.id "EnbridgeLine9"}}
    <p class="small">{{text.trafficUpdatedLine9}}</p>
  {{/ifeq}}
  {{#ifnoteq text.pipelineName.id "EnbridgeLine9"}}
    <p class="small">{{text.trafficUpdated}}</p>
  {{/ifnoteq}}
  <div class="row dashboard-style">
    <div class="col-md-12">
      <span class="cerlabel mrgn-tp-md" id="select-units-title">
        {{text.units}}
      </span>
      <div id="select-units-radio-traffic"></div>
    </div>
  </div>
  <div class="row mrgn-tp-md">
    <div class="col-md-12 traffic-hc-column-nomap" id="traffic-hc-column">
      <div class="traffic-hc-shared" id="traffic-hc"></div>
      <div class="traffic-hc-shared" id="traffic-hc-range"></div>
    </div>
  </div>
  {{> trends text=text}}
</div>
<div class="row">
  <div class="col-md-12">
    {{> instructions text=text}}
  </div>
</div>