@import url("cer.css");

/* 
General styles for all dashboards/sections 
*/

body {
  overflow-x: hidden;
}
.dashboard-style {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
  margin-bottom: 0px;
  font-size: 17px !important;
  line-height: 1.4375 !important;
}
.tablinks {
  height: 75px !important;
}
.profile-hide {
  display: none;
}
.profile-show {
  display: block;
}
.disclaimer-style {
  line-height: 1.25em !important;
}
.nearby-title {
  padding-left: 0px;
}
.center-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.count-disclaimer {
  padding: 4px;
}
.count-disclaimer p:first-letter {
  text-transform: capitalize;
}

/* 
Styles for conditions compliance dashboard 
*/

.conditions-summary-title {
  pointer-events: none;
}
.conditions-summary-value {
  pointer-events: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  color: #42464b;
  text-align: center;
}
.conditions-table {
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}
.conditions-table td,
.conditions-table th {
  border: 1px solid #ddd;
  padding: 3px;
}
.conditions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.conditions-table tr:hover {
  background-color: #ddd;
}
.conditions-table td:nth-child(1) {
  font-family: Arial;
}
.conditions-table td:nth-child(2) {
  font-family: Arial;
  font-weight: bold;
  color: #42464b;
  text-align: center;
}

/* 
Styles for incidents dashboard 
*/

#incidents-map {
  position: relative;
  height: 515px;
  margin-right: -15px;
}
.time-series {
  height: 400px;
  margin-right: -15px;
}
#inline-radio {
  padding-right: 35px;
  padding-left: 0px;
}
.event-filter-nav {
  width: 100%;
  transition: box-shadow 0.2s ease;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px rgb(255, 255, 255);
}
.event-filter-nav:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.event-filter-nav p {
  margin-bottom: 0px !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
.center-stuff {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-tooltip tr {
  border-bottom: 1pt solid #dcdcdc;
}
.dashboard-title {
  float: left;
}
.notice-me-btn {
  box-shadow: 0 0 11px #ffbe4b;
}
.map-disclaimer p {
  font-size: 13px;
}

/* 
Styles for traffic and apportionment dashboards 
*/

.traffic-hc-column-map {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.traffic-hc-column-nomap {
  padding-right: 25px !important;
}
#map-panel-body {
  padding: 0px;
}
.radio-align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
#traffic-container {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#annual-traffic-table .table {
  margin-bottom: 0px;
}
.apportion-point-hc {
  height: 46px;
}
.apportion-point-hc-last {
  height: 62px;
}

/* 
styles for remediation dashboard 
*/

#remediation-map {
  position: relative;
  height: 515px;
  margin-right: -15px;
}

/* 
responsive style options 
*/

/* extra small screen phones (col-xs) */
@media only screen and (max-width: 767px) {
  /* h2 {
    color: orange;
  } */
  .section-nav .btn-group .btn-default {
    height: 120px !important;
    font-size: 13px;
    padding: 4px !important;
  }
  /* traffic */
  #traffic-container {
    display: none;
  }
  .traffic-hc-column-map {
    padding-right: 25px !important;
  }
  .traffic-hc-single-gas {
    height: 420px;
  }
  .traffic-hc-shared {
    height: 210px;
  }
  /* conditions */
  .container-chart-map {
    height: 300px;
    position: relative;
    z-index: 10;
  }
  #conditions-instructions {
    display: none;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 500px;
  }
  #incidents-map {
    height: 400px;
    margin-right: 0px;
  }
  .time-series {
    margin-right: 0px;
  }
  .event-navigator {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 120px;
    overflow-y: scroll;
  }
  #remediation-map {
    height: 400px;
    margin-right: 0px;
  }
}

/* small screen tablet (col-sm) */
@media only screen and (min-width: 768px) {
  /* h2 {
    color: blue;
  } */
  /* traffic */
  .traffic-hc-single-gas {
    height: 450px;
  }
  .traffic-map-shared {
    height: 260px;
    margin-bottom: 5px;
  }
  .traffic-hc-shared {
    height: 200px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 530px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 500px;
  }
  #incidents-map {
    height: 445px;
  }
  #remediation-map {
    height: 445px;
  }
}

/* medium screen */
@media only screen and (min-width: 1000px) {
  /* h2 {
    color: red;
  } */
  /* traffic */
  .traffic-hc-single-gas {
    height: 470px;
  }
  .traffic-hc-shared {
    height: 235px;
  }
  .traffic-map-shared {
    height: 325px;
    margin-bottom: 5px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 530px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 500px;
  }
  #incidents-map {
    height: 480px;
  }
  #remediation-map {
    height: 480px;
  }
}
/* large screens */
@media only screen and (min-width: 1600px) {
  /* h2 {
    color: green;
  } */
  /* traffic */
  .traffic-hc-single-gas {
    height: 500px;
  }
  .traffic-hc-shared {
    height: 250px;
  }
  .traffic-map-shared {
    height: 355px;
    margin-bottom: 5px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 600px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 550px;
  }
  #incidents-map {
    height: 515px;
  }
  #remediation-map {
    height: 515px;
  }
}
