@import url("cer.css");

/* 
General styles for all dashboards/sections 
*/

body {
  overflow-x: hidden;
}
.dashboard-style {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
  margin-bottom: 0px;
  font-size: 17px !important;
  line-height: 1.4375 !important;
}
.tablinks {
  height: 75px !important;
}
.profile-hide {
  display: none;
}
.profile-show {
  display: block;
}
.disclaimer-style {
  line-height: 1.25em !important;
}

.nearby-title {
  padding-left: 0px;
}

/* 
Styles for conditions compliance dashboard 
*/

.conditions-summary-title {
  pointer-events: none;
}
.conditions-summary-value {
  pointer-events: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  color: #42464b;
  text-align: center;
}
.conditions-summary-border {
  border-style: solid;
  border-color: #8c8c96;
  border-radius: 5px;
}
.conditions-table {
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}
.conditions-table td,
.conditions-table th {
  border: 1px solid #ddd;
  padding: 3px;
}
.conditions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.conditions-table tr:hover {
  background-color: #ddd;
}
.conditions-table td:nth-child(1) {
  font-family: Arial;
}
.conditions-table td:nth-child(2) {
  font-family: Arial;
  font-weight: bold;
  color: #42464b;
  text-align: center;
}

/* 
Styles for incidents dashboard 
*/

#incidents-map {
  position: relative;
  height: 515px;
  margin-right: -15px;
}
.time-series {
  height: 400px;
  margin-right: -15px;
}
#inline-radio {
  padding-right: 35px;
  padding-left: 0px;
}
.event-filter-nav {
  width: 100%;
  transition: box-shadow 0.2s ease;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px rgb(255, 255, 255);
}
.event-filter-nav:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.event-filter-nav p {
  margin-bottom: 0px !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
#incidents-near-me {
  min-height: 100px;
}
#nearby-flag {
  margin-bottom: -15px;
}
.center-stuff {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-tooltip tr {
  border-bottom: 1pt solid #dcdcdc;
}
.section-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.dashboard-title {
  font-weight: bold;
  font-size: 1.17em;
  float: left;
  font-family: Lato, sans-serif;
}
.notice-me-btn {
  box-shadow: 0 0 11px #ffbe4b;
}
.map-disclaimer p {
  font-size: 13px;
}

/* 
Styles for traffic and apportionment dashboards 
*/

.traffic-hc-column-map {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.traffic-hc-column-nomap {
  padding-right: 25px !important;
}
#map-panel-body {
  padding: 0px;
}

/* 
styles for remediation dashboard 
*/

#remediation-map {
  position: relative;
  height: 515px;
  margin-right: -15px;
}

/* 
responsive style options 
*/

/* small screen */
@media only screen and (min-width: 768px) {
  /* traffic */
  .traffic-hc-single-gas {
    height: 480px;
  }
  .traffic-map-shared {
    height: 330px;
    margin-bottom: 5px;
  }
  .traffic-hc-shared {
    height: 235px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 530px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 500px;
  }
}
/* medium screen */
@media only screen and (min-width: 1000px) {
  /* traffic */
  .traffic-hc-single-gas {
    height: 480px;
  }
  .traffic-map-shared {
    height: 330px;
    margin-bottom: 5px;
  }
  .traffic-hc-shared {
    height: 235px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 530px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 500px;
  }
}
/* large screens */
@media only screen and (min-width: 1500px) {
  /* traffic */
  .traffic-hc-single-gas {
    height: 520px;
  }
  .traffic-map-shared {
    height: 375px;
    margin-bottom: 5px;
  }
  .traffic-hc-shared {
    height: 265px;
  }
  /* conditions */
  .container-chart-map {
    min-height: 600px;
    position: relative;
    z-index: 10;
  }
  #conditions-insert {
    overflow-y: scroll;
    max-height: 550px;
  }
}
