/* 
General styles for all dashboards/sections 
*/

.dashboard-style {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
  margin-bottom: 0px;
  font-size: 17px !important;
  line-height: 1.4375 !important;
}
.profile-hide {
  display: none;
}
.profile-show {
  display: block;
}
.disclaimer-style {
  line-height: 1.25em !important;
}
.disclaimer-style small {
  position: relative !important;
}
