/* styles for tolls dashboard */
#tolls-filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
#tolls-filter-container div {
  margin-right: 25px;
  max-height: 200px;
  overflow-y: auto;
  height: inherit;
  margin-top: 0px;
}
