<!DOCTYPE html>
<html lang="en">
  <head>
    {{> components/head}}
  </head>
  <body>
    <div class="container">
      {{#if htmlWebpackPlugin.options.page.sections.traffic}}
      {{> components/traffic}}
      {{/if}}

      {{#if htmlWebpackPlugin.options.page.sections.apportion}}
      {{> components/apportion}}
      {{/if}}

      {{#if htmlWebpackPlugin.options.page.sections.safety}}
      {{> components/safety_environment}}
      {{/if}}
    </div>
    {{> components/footer}}
  </body>
</html>
